In [5]:
import h2o
import h2o.grid
import pandas as pd
import numpy as np

In [6]:
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
; Java HotSpot(TM) 64-Bit Server VM (build 25.211-b12, mixed mode)
  Starting server from C:\Users\malbalawi\AppData\Roaming\Python\Python37\site-packages\h2o\backend\bin\h2o.jar
  Ice root: C:\Users\malbalawi\AppData\Local\Temp\2\tmp_bn5xbn0
  JVM stdout: C:\Users\malbalawi\AppData\Local\Temp\2\tmp_bn5xbn0\h2o_malbalawi_started_from_python.out
  JVM stderr: C:\Users\malbalawi\AppData\Local\Temp\2\tmp_bn5xbn0\h2o_malbalawi_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ------------------------------------------
H2O cluster uptime:         07 secs
H2O cluster timezone:       America/Chicago
H2O data parsing timezone:  UTC
H2O cluster version:        3.24.0.4
H2O cluster version age:    1 month and 5 days
H2O cluster name:           H2O_from_python_malbalawi_7xt0lx
H2O cluster total nodes:    1
H2O cluster free memory:    1.653 Gb
H2O cluster total cores:    4
H2O cluster allowed cores:  4
H2O cluster status:         accepting new members, healthy
H2O connection url:         http://127.0.0.1:54321
H2O connection proxy:
H2O internal security:      False
H2O API Extensions:         Amazon S3, Algos, AutoML, Core V3, Core V4
Python version:             3.7.3 final
--------------------------  ------------------------------------------

In [1]:
# use cbind()  they have diffrent number of rows < use rbind () they g=have diffrent nuumber of rows

# Use h2o.merge() to join tables together when they have 1+ columns un commen

In [8]:
#Create dataframe  A
A= h2o.H2OFrame(
    pd.DataFrame({
        'a':range(1,11),
        'b':range(11,21),
        'c':range(21,31)
    }),
    destination_frame="A"
)

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [9]:
A.as_data_frame()

    a   b   c
0   1  11  21
1   2  12  22
2   3  13  23
3   4  14  24
4   5  15  25
5   6  16  26
6   7  17  27
7   8  18  28
8   9  19  29
9  10  20  30

In [11]:
# Creat dataframe B
np.random.seed(123)
B=h2o.H2OFrame(
pd.DataFrame({
    'a':np.random.randint(6,13,20),
    'd':np.random.randint(6,13,20)
}),
   destination_frame="B"  
)

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [13]:
B.as_data_frame()

     a   d
0   12   6
1   11   7
2   12   9
3    8  12
4   10  11
5    8  10
6   12   6
7    7   6
8    9  10
9    8   7
10   9   9
11   7   8
12  12  10
13   7   8
14   6  10
15   7   6
16  12  11
17   7   6
18   6   7
19  12   9

In [14]:
M=A.merge(B)

In [15]:
M.as_data_frame()

     a   b   c   d
0    6  16  26  10
1    6  16  26   7
2    7  17  27   6
3    7  17  27   8
4    7  17  27   8
5    7  17  27   6
6    7  17  27   6
7    8  18  28  12
8    8  18  28  10
9    8  18  28   7
10   9  19  29  10
11   9  19  29   9
12  10  20  30  11

In [16]:
M=B.merge(A)

In [17]:
M.as_data_frame()

     a   d   b   c
0    6  10  16  26
1    6   7  16  26
2    7   6  17  27
3    7   8  17  27
4    7   8  17  27
5    7   6  17  27
6    7   6  17  27
7    8  12  18  28
8    8  10  18  28
9    8   7  18  28
10   9  10  19  29
11   9   9  19  29
12  10  11  20  30

In [24]:
M=A.merge(B, by_x=["b"],by_y=["b"])

H2OValueError: Column: b not in frame.

In [23]:
M.as_data_frame()

     a   d   b   c
0    6  10  16  26
1    6   7  16  26
2    7   6  17  27
3    7   8  17  27
4    7   8  17  27
5    7   6  17  27
6    7   6  17  27
7    8  12  18  28
8    8  10  18  28
9    8   7  18  28
10   9  10  19  29
11   9   9  19  29
12  10  11  20  30

In [7]:
data=h2o.import_file("https://github.com/h2oai/h2o-2/raw/master/smalldata/airlines/allyears2k_headers.zip")

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [8]:
train,valid,test = data.split_frame([0.8,0.1], seed=69)

In [9]:
print("%d/%d/%d" % (train.nrows,valid.nrows,test.nrows))

35255/4272/4451

In [10]:
data.summary()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,IsArrDelayed,IsDepDelayed
type,int,int,int,int,int,int,int,int,enum,int,enum,int,int,int,int,int,enum,enum,int,int,int,int,enum,int,int,int,int,int,int,enum,enum
mins,1987.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,,1.0,,16.0,17.0,14.0,-63.0,-16.0,,,11.0,0.0,0.0,0.0,,0.0,0.0,0.0,0.0,0.0,0.0,,
mean,1997.5000000000068,1.409090909090916,14.601073263904551,3.8206148528809845,1345.846661382077,1313.2228614307262,1504.634130378886,1485.2891673109345,,818.8429896766576,,124.8145291354039,125.02156260661906,114.31611109078231,9.317111936984306,10.007390655600112,,,730.1821905650557,5.381368059530588,14.16863418473208,0.024694165264450407,,0.0024785119832643593,4.047800291055639,0.2893764692712412,4.8550319041755365,0.0170155602821001,7.620060450016796,,
maxs,2008.0,10.0,31.0,7.0,2400.0,2359.0,2400.0,2359.0,,3949.0,,475.0,437.0,402.0,475.0,473.0,,,3365.0,128.0,254.0,1.0,,1.0,369.0,201.0,323.0,14.0,373.0,,
sigma,6.344360901707349,1.8747113713439618,9.175790425861413,1.9050131191329014,465.3408991242322,476.2511399926005,484.3474879035152,492.75043412270105,,777.4043691636341,,73.97444166059017,73.40159463000951,69.6363295150612,29.840221962414837,26.438809042916418,,,578.4380082304235,4.201979939864826,9.905085747204279,0.15519314135784237,,0.049723487218862286,16.2057299044842,4.416779898734125,18.619776221475654,0.403940182101512,23.48756587410621,,
zeros,0,0,0,0,0,569,0,569,,0,,0,0,0,1514,6393,,,0,623,557,42892,,43869,7344,8840,7388,8914,7140,,
missing,0,0,0,0,1086,0,1195,0,0,0,32,1195,13,16649,1195,1086,0,0,35,16026,16024,0,9774,0,35045,35045,35045,35045,35045,0,0
0,1987.0,10.0,14.0,3.0,741.0,730.0,912.0,849.0,PS,1451.0,NA,91.0,79.0,nan,23.0,11.0,SAN,SFO,447.0,nan,nan,0.0,NA,0.0,nan,nan,nan,nan,nan,YES,YES
1,1987.0,10.0,15.0,4.0,729.0,730.0,903.0,849.0,PS,1451.0,NA,94.0,79.0,nan,14.0,-1.0,SAN,SFO,447.0,nan,nan,0.0,NA,0.0,nan,nan,nan,nan,nan,YES,NO
2,1987.0,10.0,17.0,6.0,741.0,730.0,918.0,849.0,PS,1451.0,NA,97.0,79.0,nan,29.0,11.0,SAN,SFO,447.0,nan,nan,0.0,NA,0.0,nan,nan,nan,nan,nan,YES,YES
3,1987.0,10.0,18.0,7.0,729.0,730.0,847.0,849.0,PS,1451.0,NA,78.0,79.0,nan,-2.0,-1.0,SAN,SFO,447.0,nan,nan,0.0,NA,0.0,nan,nan,nan,nan,nan,NO,NO
4,1987.0,10.0,19.0,1.0,749.0,730.0,922.0,849.0,PS,1451.0,NA,93.0,79.0,nan,33.0,19.0,SAN,SFO,447.0,nan,nan,0.0,NA,0.0,nan,nan,nan,nan,nan,YES,YES
5,1987.0,10.0,21.0,3.0,728.0,730.0,848.0,849.0,PS,1451.0,NA,80.0,79.0,nan,-1.0,-2.0,SAN,SFO,447.0,nan,nan,0.0,NA,0.0,nan,nan,nan,nan,nan,NO,NO
6,1987.0,10.0,22.0,4.0,728.0,730.0,852.0,849.0,PS,1451.0,NA,84.0,79.0,nan,3.0,-2.0,SAN,SFO,447.0,nan,nan,0.0,NA,0.0,nan,nan,nan,nan,nan,YES,NO
7,1987.0,10.0,23.0,5.0,731.0,730.0,902.0,849.0,PS,1451.0,NA,91.0,79.0,nan,13.0,1.0,SAN,SFO,447.0,nan,nan,0.0,NA,0.0,nan,nan,nan,nan,nan,YES,YES
8,1987.0,10.0,24.0,6.0,744.0,730.0,908.0,849.0,PS,1451.0,NA,84.0,79.0,nan,19.0,14.0,SAN,SFO,447.0,nan,nan,0.0,NA,0.0,nan,nan,nan,nan,nan,YES,YES
9,1987.0,10.0,25.0,7.0,729.0,730.0,851.0,849.0,PS,1451.0,NA,82.0,79.0,nan,2.0,-1.0,SAN,SFO,447.0,nan,nan,0.0,NA,0.0,nan,nan,nan,nan,nan,YES,NO

In [11]:
y="IsArrDelayed"
ignoreFields= [
    "ArrDelay" ,"DepDelay","CarrierDelay","WearherDelay","NASDelay","SecurityDelayed","LateAircraftDelay","IsDepDelayed"
    "IsArrDelayed" ,"ActualElapsedTime"
]
xAll=[i for i in train.names if i not in ignoreFields] #indpendent Varilbles
xLikely=["Month","DayOfWeek","UniqueCarrier","Origin","Dest","Distance","Cancelled","Diverted"]

In [12]:
from h2o.estimators.glm import H2OGeneralizedLinearEstimator

In [13]:
m_def= H2OGeneralizedLinearEstimator(
family= "binomial",)
m_def.train(xAll,y,train,
            validation_frame=valid
           
           )

glm Model Build progress: |███████████████████████████████████████████████| 100%

In [14]:
m_def.logloss(valid=True)

0.5414570563193009

In [16]:
# Creating Random Grid 
g=h2o.grid.H2OGridSearch(
H2OGeneralizedLinearEstimator(
    family="binomial",
     lambda_search=True
),
hyper_params={
    "alpha":[x*0.01 for x in range(0,100)], ## creating 100 alphe of alpha
},
search_criteria={
    "strategy":"RandomDiscrete", ## to preform random search
    "max_models":8, ## choese 8 bof the 100 apha value randomally 
    "max_runtime_secs": 30 ## give up if it cant finish wothin 30 sec
}
)
g.train(xAll,y, train, validation_frame=valid)

glm Grid Build progress: |████████████████████████████████████████████████| 100%

In [17]:
g

                     alpha  \
0                   [0.79]
1                   [0.66]
2                   [0.54]
3                   [0.45]
4    [0.41000000000000003]
5                   [0.31]
6                   [0.05]

                                                     model_ids  \
0  Grid_GLM_py_3_sid_922e_model_python_1561574480156_7_model_3
1  Grid_GLM_py_3_sid_922e_model_python_1561574480156_7_model_5
2  Grid_GLM_py_3_sid_922e_model_python_1561574480156_7_model_1
3  Grid_GLM_py_3_sid_922e_model_python_1561574480156_7_model_6
4  Grid_GLM_py_3_sid_922e_model_python_1561574480156_7_model_2
5  Grid_GLM_py_3_sid_922e_model_python_1561574480156_7_model_4
6  Grid_GLM_py_3_sid_922e_model_python_1561574480156_7_model_7

              logloss
0  0.5052861216113229
1  0.5061070445299555
2  0.5071542790449769
3  0.5082088633489587
4  0.5087792221319967
5  0.5106187989754452
6  0.5783981503964728

In [19]:
# Creating Random Grid 
g2=h2o.grid.H2OGridSearch(
H2OGeneralizedLinearEstimator(
    family="binomial",
     lambda_search=True
),
hyper_params={
    "alpha":[0,0.2,0.4,0.5,0.6,0.8,0.99], ## creating  alphe of alpha
},
search_criteria={
    "strategy":"Cartesian", ## to preform random search
 
}
)
g2.train(xAll,y, train, validation_frame=valid)

glm Grid Build progress: |████████████████████████████████████████████████| 100%

In [20]:
g2

      alpha                                                     model_ids  \
0     [0.0]  Grid_GLM_py_3_sid_922e_model_python_1561574480156_37_model_1
1    [0.99]  Grid_GLM_py_3_sid_922e_model_python_1561574480156_37_model_7
2     [0.8]  Grid_GLM_py_3_sid_922e_model_python_1561574480156_37_model_6
3     [0.6]  Grid_GLM_py_3_sid_922e_model_python_1561574480156_37_model_5
4     [0.5]  Grid_GLM_py_3_sid_922e_model_python_1561574480156_37_model_4
5     [0.4]  Grid_GLM_py_3_sid_922e_model_python_1561574480156_37_model_3
6     [0.2]  Grid_GLM_py_3_sid_922e_model_python_1561574480156_37_model_2

               logloss
0  0.49677645018605104
1   0.5043586051654199
2    0.505231410096494
3   0.5065828773573847
4   0.5075887933823707
5   0.5089344572954909
6   0.5139497154231619